* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  list-style: none;
}
.container {
  width: 1250px;
  margin: auto;
}
header {
  width: 100%;
  background-color: #b2b2b2;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.header-main .header-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-left img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.header-center {
  position: relative;
  margin-top: 10px;
}
.header-center input {
  padding: 10px;
  background-color: #c5c5c5;
  border: none;
  width: 300px;
  border-radius: 20px;
  outline: none;
}
.header-center input::placeholder {
  color: #fff;
}
.center-icon {
  position: absolute;
  right: 10px;
  top: 8px;
  color: #fff;
}
.center-icon button {
  border: none;
}
.center-icon button i {
  padding: 5px;
  background: #c5c5c5;
  cursor: pointer;
}
.header-nav li:first-child {
  position: relative;
}
.hover-product {
  position: absolute;
  top: 200%;
  z-index: 999;
  left: 0;
  background-color: #fff;
  width: 1170px;
  height: 0;
  border-radius: 20px;
  color: #000;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease-in;
}

.header-nav li:first-child:hover .hover-product {
  opacity: 1;
  visibility: visible;
  height: 350px;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}
.header-nav li {
  list-style: none;
}
.header-nav li {
  cursor: pointer;
}
.header-nav li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}
.header-nav li a:hover {
  color: #55d5d2;
}
.hover-product li {
  list-style: none;
}
.product-hover-cate {
  background-color: #4cd0bd;
  width: 33%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.product-hover-cate ul li {
  color: #666;
  padding: 25px;
  border-bottom: 1px solid #eee;
}
.product-hover-cate ul li:hover {
  color: #fff;
}

.product-hover-text {
  display: flex;
  gap: 20px;
  opacity: 0;
  transition: 0.5s ease-in;
  padding: 0 20px;
}
.product-hover-cate:hover + .product-hover-text {
  opacity: 1;
}
.product-hover-text h3 {
  color: #000;
}
.product-hover-img img {
  width: 350px;
  height: auto;
  object-fit: cover;
  padding: 10px;
}
.hover-text-left {
  margin-right: 50px;
}
.hover-text-left h3 {
  margin-bottom: 10px;
  margin-right: 20px;
}
.hover-text-left ul li {
  color: #454545;
  margin-bottom: 10px;
}
.hover-text-left ul li:hover {
  color: #fb923c;
  cursor: pointer;
}
.hover-text-right h3 {
  margin-bottom: 10px;
}
.hover-text-right ul li {
  color: #454545;
  margin-bottom: 10px;
}
.hover-text-right ul li:hover {
  color: #fb923c;
  cursor: pointer;
}

/* css banner */
.banner-wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.banner-container {
  display: flex;
  transition: all 0.5s ease-in;
}
.banner-container img {
  min-width: 100%;
  height: auto;
  object-fit: cover;
}
.buttons {
  position: absolute;
  top: 45%;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  font-weight: bold;
  border: none;
}
.dots {
  position: absolute;
  bottom: 10px;
  color: #fff;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 20px;
  border-radius: 20px;
  transition: all 0.5s ease-in;
}
.dots li.active {
  width: 30px;
}
/* css section bestseller */
.blog-bestseller {
  margin-top: 50px;
}
.bestseller-wrap {
  position: relative;
}
.products-bestseller-container {
  overflow: auto;
  width: 1160px;
  margin: auto;
  height: 500px;
  transition: 0.5s ease-in;
  scroll-behavior: smooth;
}
.products-bestseller-container::-webkit-scrollbar {
  display: none;
}
.products-bestseller {
  display: flex;
  transition: transform 0.3s ease-in-out;
  align-items: center;
  width: max-content;
  height: 100%;
  margin: auto;
}
.item-bestseller {
  position: relative;
  overflow: hidden;
  width: 270px;
  margin: 0 10px;
  height: 350px;
}
.buttons-seller {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.buttons-seller button {
  background-color: #fff;
  color: #55d5d2;
  border: 1px solid #00ced1;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: rgba(15, 170, 213, 0.718) 0px 3px 8px;
  font-weight: bold;
}

.blog-bestseller h1 {
  color: #55d5d2;
  font-size: 30px;
  position: relative;
  animation: title 5s infinite linear;
}
@keyframes title {
  0% {
    color: #55d5d2;
  }
  25% {
    color: blue;
  }
  50% {
    color: red;
  }
  75% {
    color: #000;
  }
  100% {
    color: #55d5d2;
  }
}
.blog-bestseller h1::after {
  content: "";
  position: absolute;
  background-color: #55d5d2;
  width: 18%;
  height: 5px;
  left: 2px;
  top: 38px;
  border-radius: 5px;
}
.item-bestseller-img {
  border-radius: 15px;
}
.item-bestseller-img img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease-in;
}
.item-bestseller:hover img {
  transform: scale(1.1);
  cursor: pointer;
}
.item-bestseller:hover .item-icon {
  background-color: #f58f5d;
  cursor: pointer;
}
.item-bestseller:hover .item-icon a i {
  rotate: 2deg;
}
.item-bestseller .item-title {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  height: 120px;
  border-radius: 5px;
  position: absolute;
  top: 65%;
  left: 0;
  border: 1px solid #0000005c;
}
.item-bestseller-img {
  overflow: hidden;
}
.item-title p {
  color: #454545;
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}
.item-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  background-color: #55d5d2;
  width: 90%;
  margin-left: 10px;
  border-radius: 20px;
  padding: 10px;
}

.item-icon h5 {
  color: #fff;
  font-size: 20px;
}
.item-icon a i {
  color: #fff;
  rotate: -30deg;
  font-size: 20px;
}
/* css banner-second */
.banner-second {
  margin-top: 30px;
}
.image-second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.image-second img {
  width: 653px;
  height: 281px;
  object-fit: cover;
  border-radius: 20px;
}
/* css bộ sưu tập-danh mục menu */
.collection-new {
  margin-top: 50px;
}
.collection-category {
  display: flex;
  justify-content: space-between;
}
.collection-title h2 {
  font-size: 30px;
  animation: title-colec 3s infinite linear;
  color: #454545;
  text-transform: uppercase;
}
@keyframes title-colec {
  0% {
    color: #55d5d2;
  }
  25% {
    color: blue;
  }
  50% {
    color: red;
  }
  75% {
    color: #000;
  }
  100% {
    color: #55d5d2;
  }
}
.collection-menu {
  display: flex;
}
.collection-menu-one.active {
  display: flex;
  margin-left: 20px;
  align-items: center;
}
/* .collection-menu-one h3 {
  font-size: 15px;
  color: #f58f5d;
} */
.collection-menu-one a {
  text-decoration: none;
  color: #f58f5d;
}
.collection-menu-one.active span i {
  opacity: 0;
}
.collection-menu-one h3 a {
  color: #454545;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  margin-left: 10px;
}
.collection-menu-one.active:first-child h3 a {
  color: #fb923c;
}
.collection-menu-one h3 a:hover {
  color: #fb923c;
}
.collection-menu-one.active:hover span i {
  opacity: 1;
  color: #fb923c;
}

.collection-menu-one h3:hover {
  color: #f58f5d;
  cursor: pointer;
}
.collection-menu-one:last-child h3 a {
  color: #c5c5c5;
}
.collection-menu-one:last-child {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.collection-menu-one:last-child span i {
  color: #c5c5c5;
}
.collection-menu-one:last-child:hover h3 a {
  color: #f58f5d;
}
.collection-menu-one:last-child:hover span i {
  color: #f58f5d;
}
/* css main-block */

.main-block {
  margin-top: 50px;
}
.block-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.product-item {
  margin-bottom: 30px;
}

.product-item:hover .product-item-price {
  background-color: #f58f5d;
}
.product-item:hover .product-item-price span i {
  rotate: 2deg;
}
.product-item-img {
  overflow: hidden;
  border-radius: 10px;
}
.product-item-img img {
  width: 320px;
  height: 323px;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.5s ease;
}
.product-item-img img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.product-item-title {
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 320px;
  position: relative;
  bottom: 0;
  padding: 10px;
  border-radius: 5px;
  margin-top: -20px;
}
.product-item-title h3 {
  max-width: 300px;
  word-wrap: break-word;
  color: #454545;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 200px;
}
.product-item-price {
  background-color: #55d5d2;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}
.product-item-price p {
  font-weight: bold;
  font-size: 20px;
}
.product-item-price span i {
  font-size: 20px;
  font-weight: bold;
  rotate: -30deg;
}
.main-block button {
  width: 100%;
  margin-top: 50px;
  padding: 10px;
  margin-left: 50px;
  border: 2px solid #55d5d2;
  background-color: #fff;
  color: #55d5d2;
  font-size: 20px;
  font-weight: bold;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
}
.main-block button:hover {
  cursor: pointer;
  background-color: #f58f5d;
  color: #fff;
}
/* css introduce */
.introduce {
  margin-top: 50px;
  border: 2px solid #55d5d2;
}
.introduce-blogs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px;
}
.introduce-item {
  display: flex;
  gap: 10px;
}
.introduce-item span i {
  color: #55d5d2;
  font-size: 25px;
}
.introduce-item p {
  color: #454545;
  font-size: 20px;
}
/* css customer */
.customer {
  margin-top: 100px;
}
.customer-blogs {
  display: flex;
  gap: 100px;
}
.customer-img img {
  width: 506px;
  height: 651px;
  object-fit: cover;
}
.customer-title {
  background-color: #eefbfb;
  padding: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 50px;
}
.customer-title h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: #55d5d2;
  font-size: 30px;
}

.customer-des-left h3 {
  color: #454545;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 10px;
}
.customer-des {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #55d5d2;
  cursor: pointer;
  position: relative;
}
.customer-des:hover {
  border-bottom: 1px solid #f58f5d;
}
.customer-des:hover h3,
.customer-des:hover p,
.customer-des:hover span i {
  color: #f58f5d;
}
.customer-des-left p {
  max-width: 300px;
  word-wrap: break-word;
  white-space: normal;
  margin-bottom: 30px;
}
.customer-des-right span i {
  font-size: 20px;
  color: #55d5d2;
  font-weight: bold;
  margin-top: 10px;
}
.customer-des::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: transparent;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.customer-des:hover::after {
  background-color: #f58f5d;
  transform: translateX(0);
}
/* css text-blog */
.text-blog {
  background-color: #55d5d2;
}
.text-blog-des {
  margin-top: 50px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}

.text-blog-des h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 40px;
}
.text-blog-des p {
  width: 500px;
  line-height: 30px;
  color: #fff;
  font-size: 20px;
  opacity: 0;
  animation: fadeIn 1s infinite ease-in-out;
  transition: opacity 0.5s ease;
}
.text-blog-mascot {
  margin-top: 50px;
}
.main-text-blog {
  display: flex;
  gap: 50px;
}
.text-blog-img {
  margin-top: 50px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  position: relative;
  padding: 10px;
}
.text-blog-img img {
  width: 800px;
  height: 500px;
  object-fit: cover;
}
.text-adress {
  position: absolute;
  background-color: #788385;
  border-radius: 10px;
  color: #fff;
  bottom: 10px;
  left: 10px;
  right: 10px;
  box-sizing: border-box;
  padding: 20px;
}
.text-adress h3 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}
.text-blog-search {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fb923c;
  padding: 10px;
  border-radius: 50px;
  margin-bottom: 50px;
  cursor: pointer;
}
.text-blog-search h5 {
  color: #fff;
  text-transform: uppercase;
  padding: 10px;
  font-size: 20px;
  margin-left: 20px;
}
.text-blog-search span {
  background-color: #fff;
  border-radius: 50%;
}
.text-blog-search span i {
  color: #fb923c;
  font-size: 20px;
  rotate: -45deg;
  padding: 10px;
}
.text-blog-search span i:hover {
  rotate: 2deg;
  cursor: pointer;
}
/* css internet */
.internet {
  margin-top: 50px;
}
.internet h2 {
  color: #55d5d2;
  font-weight: bold;
  font-size: 50px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-left: 100px;
}
.internet-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.internet-title h6 {
  text-transform: uppercase;
  color: #454545;
  font-size: 30px;
  line-height: 40px;
}
.internet-title h3 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  -webkit-text-stroke: 1px #00ced1;
  text-shadow: 0px 0px 2px rgba(0, 206, 209, 0.5);
  margin-top: -50px;
}
/* css feedback */
.feedback {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}
.feedback-main {
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  align-items: center;
}
.feedback-text {
  background-color: #caf2f1;
  color: #00ced1;
  text-align: center;
  position: relative;
  height: 495px;
  max-width: 370px;
  width: 100%;
}
.feedback-text h3 {
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 20%;
  text-transform: uppercase;
}
.feedback-text p {
  position: relative;
  top: 50%;
  padding: 10px;
}
.feedback-img {
  position: relative;
  max-width: 370px;
  width: 100%;
}
.feedback-img img {
  width: 370px;
  height: 495px;
  object-fit: cover;
}
.feedback-img > span i {
  position: absolute;
  top: 40%;
  right: 40%;
  color: #fff;
  font-size: 50px;
}
.feedback-img p {
  position: absolute;
  top: 55%;
  left: 45%;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}
.feedback-img h5 {
  position: absolute;
  top: 65%;
  left: 40%;
  color: #fff;
  text-transform: lowercase;
  font-size: 20px;
}
.feedback-img .feedback-icon {
  position: absolute;
  bottom: 18%;
  left: 40%;
  display: flex;
  gap: 20px;
  align-items: center;
  background-color: #fb923c;
  padding: 10px;
  border-radius: 20px;
}
.feedback-icon h6 {
  color: #fff;
  text-transform: uppercase;
}
.feedback-icon span {
  background-color: #fff;
  padding: 5px;
  border-radius: 50%;
}
.feedback-icon i {
  color: #fb923c;
  rotate: -30deg;
}
/* css blog share */
.blog-share {
  margin-top: 70px;
}
.share-all {
  display: flex;
  justify-content: space-between;
}
.share-left {
  margin-top: 100px;
}
.share-left h2 {
  color: #55d5d2;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.share-click {
  display: flex;
  justify-content: space-around;
  background-color: #55d5d2;
  padding: 10px;
  border-radius: 20px;
}
.share-click p a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
}
.share-click span {
  background-color: #fff;
  border-radius: 50%;
}
.share-click span i {
  color: #55d5d2;
  font-size: 20px;
  padding: 5px;
  rotate: -30deg;
}
.share-right {
  display: flex;
  gap: 20px;
}
.blog-item-img {
  border: 2px solid #eee;
  border-radius: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  max-width: 415px;
}

.blog-image img {
  width: 414px;
  height: 292px;
  object-fit: cover;
  border-radius: 20px;
  transition: transform 0.5s ease;
}
.blog-item-img h5 {
  color: #454545;
  padding: 10px;
  font-size: 25px;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
  transition: all 0.5s ease;
  margin-top: 10px;
}
.blog-item-click {
  display: flex;
  justify-content: space-evenly;
}
.blog-item-click p {
  color: #71717a;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}
.blog-item-click span {
  padding: 10px;
  color: #55d5d2;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}
.blog-item-click span i {
  margin-left: 10px;
  rotate: -30deg;
}
.blog-share-item-one {
  margin-top: 200px;
}
.blog-item-img:hover .blog-image img {
  transform: scale(1.1);
  cursor: pointer;
}
.blog-item-img:hover h5 {
  color: #55d5d2;
  text-decoration: underline;
}
/* css chartity từ thiện */
.charity {
  margin-top: 50px;
  background-image: url("../img/bg-dự án.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-color: #0e1111; */
  height: 700px;
}
.charity-blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.charity-img {
  margin-top: 20px;
}
.charity-text {
  display: flex;
  color: #fff;
  background-color: #3d4735;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #fff;
  margin-top: 30px;
}
.charity-text span {
  background-color: #fff;
  margin-left: 10px;
  border-radius: 50%;
}
.charity-text span i {
  rotate: -30deg;
  color: #55d5d2;
  padding: 5px;
}
.charity-bg {
  border: 10px solid #b6b9b4;
  margin-top: 30px;
  border-radius: 15px;
  width: 1344px;
}
.charity-item {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.charity-one-text {
  background-color: #0000006e;
  padding: 20px;
  width: 665px;
  border: 1px solid #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.charity-one-text h2 {
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  background-color: #afa993;
  width: 200px;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  text-align: center;
}
.charity-one-text p {
  color: #fff;
  margin-bottom: 10px;
  line-height: 25px;
  font-weight: bold;
}
.charity-two {
  background-color: #0000006e;
  margin-top: 50px;
  border: 1px solid #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.charity-data h2 {
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bold;
}
.charity-data p {
  font-weight: bold;
  margin-bottom: 10px;
}
.charity-item-img img {
  width: 632px;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}
/* css footer */
.footer {
  background-color: #55d5d2;
  margin-top: 30px;
}
.footer-block {
  display: flex;
  justify-content: space-between;
}
.footer-left {
  margin-top: 30px;
}
.footer-left p {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
}
.footer-input {
  position: relative;
}
.footer-input input {
  background-color: #caf2f1;
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  outline: none;
}
.footer-input input::placeholder {
  color: #55d5d2;
  font-weight: bold;
}
.footer-input span i {
  position: absolute;
  top: 40%;
  right: 20px;
  color: #fb923c;
  cursor: pointer;
  rotate: -30deg;
}
.footer-icon {
  margin: 10px;
}
.footer-icon i {
  margin-left: 10px;
  font-size: 20px;
  color: #fff;
}
.footer-right-blogs {
  display: flex;
  margin-top: 30px;
  gap: 20px;
}
.footer-right-blogs h4 {
  color: #caf1f0;
}
.footer-right-blogs li {
  list-style: none;
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 10px;
}
.footer-right-policy {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.footer-right-policy h4 {
  color: #caf1f0;
}
.footer-right-policy li {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: bold;
}
.footer-ply-lg h4 {
  margin-bottom: 10px;
}
.footer-brand {
  margin-top: 20px;
}
.footer-brand p {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  color: #fff;
}
